/*Media Query for index.html*/

@media screen and (max-width: 640px) {  

	.header {
		width: 640px;
		height: 156px;
	}

	.header h1 {
		width: 100%;
		height: 40px;  /*total height is 90px*/
		padding-top: 25px;
		padding-bottom: 25px;
		padding-left: 0; /*to undo padding from previous areas*/
		padding-right: 0; /*to undo padding from previous areas*/
		font-size: 35px;
		font-weight: bold;
		text-align: center;
		
	}

	.header p {
		float: left;
		width: 100%;
		height: 16px; /*total height is 66px*/
		padding-top: 25px
		padding-bottom: 25px;
		font-size: 16px;
		text-align: center;
	}

	.header a {
		padding-right: 65px;
		padding-left: 65px; 
	}


	.header_container {
		width: 640px;
		height: 156px; /*width and height match the header*/
		margin-left: 0; /*to undo the margin-left: 10% everywhere else*/;

	}


	.content_area {
		/*border: solid purple 1px;*/
		margin-left: 20px;
		margin-right: 20px;
		margin-top: 24px;
		margin-bottom: 40px;
		width: 600px;
		height: 1050px;
	}

	.main_section {
		position: relative;
		float: left;
		width: 540px; /*total width is 600px*/
		height: 730px; /*total height is 810px*/
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 40px;
		padding-bottom: 40px;
		margin-bottom: 40px;
	}

	.main_section h1 {
		font-size: 30px;
		font-weight: bold;
		color: #4aaaa5;
		padding-bottom: 10px;
	}

	.main_section p {
		font-size: 17.5px;
	}


	.main_section img {
		display: block;
		position: relative;
		float: left;
		margin-left: 30%;
		margin-right: 30%;
		width: 40%;
		height: 40%;
	}
	
	.connect_box {
		clear: both;
		position: relative;
		float: left;
		/*border: solid green 5px;*/
		background: #ffffff;
		border: solid #dddddd 2px; /*overrides test border above*/
		width: 540px; /*total width is 600px*/
		height: 130px; /*total height is 200px*/
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 30px;
		padding-bottom: 40px;
		margin-bottom: 40px;
	}

	.connect_images img {
		display: block;
		float: left;
		/*the images I have are square, so defining the height AND width ruins the image*/
		height: 80%;
		margin-right: 14px;
	}

	.connect_box h1 {
		font-size: 25px;
		padding-top: 0;
		padding-bottom: 10px;
		font-family:'Georgia', Times, Times New Roman, serif;
		font-weight: bold;
		color: #4aaaa5;
	}
	
	.footer {
		width: 640px;
		height: 95px;
	}

	.footer p {
		padding-top: 20px;
	}
}



@media screen (min-width: 641px) and (max-width: 768px) { 

	.header {
		width: 768px;
	}

	.header h1 {
		font-size: 35px;
		font-weight: bold;
	}

	.footer {
		width: 768px;
	}


	.header_container {
		width: 730px;
		margin-left: 20px;
		margin-right: 25px;
	}

	.content_area {
		/*border: solid purple 1px;*/
		margin-left: 20px;
		margin-right: 20px;
		margin-top: 40px;
		margin-bottom: 40px;
		width: 730px;
		height: 755px;
	}

	.main_section {
		position: relative;
		float: left;
		width: 670px; /*total width is 730px*/
		height: 439px; /*total height is 514px*/
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 40px;
		padding-bottom: 35px;
		margin-bottom: 40px;
	}

	.main_section h1 {
		font-size: 30px;
		font-weight: bold;
		color: #4aaaa5;
		padding-bottom: 10px;
	}

	.main_section p {
		font-size: 17.5px;
	}


	.main_section img {
		display: block;
		position: relative;
		float: left;
		margin-left: 0;
		margin-right: 20px;
		width: 30%;
		height: 60%;
	}
	
	.connect_box {
		clear: both;
		position: relative;
		float: left;
		/*border: solid green 5px;*/
		background: #ffffff;
		border: solid #dddddd 2px; /*overrides test border above*/
		width: 670px; /*total width is 730px*/
		height: 133px; /*total height is 203px*/
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 35px;
		padding-bottom: 35px;
		margin-bottom: 40px;
	}

	.connect_images img {
		display: block;
		float: left;
		/*the images I have are square, so defining the height AND width ruins the image*/
		height: 80%;
		margin-right: 14px;
	}

	.connect_box h1 {
		font-size: 25px;
		padding-top: 0;
		padding-bottom: 10px;
		font-family:'Georgia', Times, Times New Roman, serif;
		font-weight: bold;
		color: #4aaaa5;
	}
	
}




@media screen and (max-width: 980px) { 

	.header h1 {
		font-size: 35px;
		font-weight: bold;
	}

	.header_container {
		width: 730px;
	}

	.content_area {
		/*border: solid purple 5px;*/
		margin-left: 10%;
		margin-top: 40px;
		margin-bottom: 40px;
		width: 730px;
		height: 850px;
	}

	.main_section {
		width: 360px; /*total width is 420px*/
		height: 770px; /*total height is 845px*/
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 40px;
		padding-bottom: 35px;
	}

	.main_section h1 {
		font-size: 30px;
		font-weight: bold;
		color: #4aaaa5;
		padding-bottom: 10px;
	}

	.main_section p {
		font-size: 15.5px;
		position: relative;
	}


	.main_section img {
		display: block;
		position: relative;
		float: left;
		margin-left: 20%;
		margin-right: 25%;
		padding-bottom: 10px;
		width: 60%;
		height: 35%;
	}

	.connect_box h1 {
		padding-top: 0;
		padding-bottom: 10px;
		font-family:'Georgia', Times, Times New Roman, serif;
		font-weight: bold;
		color: #4aaaa5;
	}
	
}
